<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif)$">
        Header set Cache-Control "max-age=172800, public"
    </FilesMatch>
	<FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=3600, public"
    </FilesMatch>
	<FilesMatch "bootstrap\.min\.js$">
        Header set Cache-Control "max-age=3600, public"
    </FilesMatch>
    <FilesMatch "\.(html)$">
        Header set Cache-Control "max-age=900"
    </FilesMatch>
	<FilesMatch "download.html$">
        Header set Cache-Control "max-age=60"
    </FilesMatch>
	<FilesMatch "index.html$">
        Header set Cache-Control "max-age=60"
    </FilesMatch>
</IfModule>
